---
http_interactions:
- request:
    method: get
    uri: http://data.carbonculture.net/number10/10-downing-street/elec
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! "{\n    \"status\": \"ok\", \n    \"fields\": [\n        \"number10.10-downing-street.elec\"\n
        \   ], \n    \"start_time\": \"2013-06-26T10:00:00\", \n    \"results\": [\n
        \       [\n            \"88.12\"\n        ], \n        [\n            \"92.82\"\n
        \       ], \n        [\n            \"92.34\"\n        ], \n        [\n            \"87.49\"\n
        \       ], \n        [\n            \"83.78\"\n        ], \n        [\n            \"84.66\"\n
        \       ], \n        [\n            \"88.29\"\n        ], \n        [\n            \"86.98\"\n
        \       ], \n        [\n            \"91.87\"\n        ], \n        [\n            \"93.[...]
- request:
    method: get
    uri: http://data.carbonculture.net/number10/10-downing-street/fake
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - text/plain
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! 'Not Found: Unknown channels: number10.10-downing-street.fake'
  recorded_at: Thu, 27 Jun 2013 10:19:19 GMT
- request:
    method: get
    uri: http://data.carbonculture.net/number10/10-downing-street
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! "{\n    \"status\": \"ok\", \n    \"operational_rating\": [\n        {\n
        \           \"end_date\": \"2011-06-27\", \n            \"start_date\": \"2010-06-28\",
        \n            \"value\": 87\n        }, \n        {\n            \"end_date\":
        \"2012-06-27\", \n            \"start_date\": \"2011-06-28\", \n            \"value\":
        83\n        }, \n        {\n            \"end_date\": \"2013-06-27\", \n            \"start_date\":
        \"2012-06-28\", \n            \"value\": 82\n        }\n    ], \n    \"title\":
        \"10 Downing Street\", \n    \"link_url\": \"http://www.carbonculture.net/orgs/number10/10-downing-street/\",
        \n    \"namespace\": \"number10.10-downing-street\", \n    \"channels\": [\n
        \       \"heat\", \n        \"elec\", \n        \"gas\"\n    ], \n    \"place\":
        \"10-downing-street\", \n    \"image_url\": \"http://www.carbonculture.net/uploads/places/images/no10external_carbonculture_260.png\",
        \n    \"building_stats\": {}\n}"
  recorded_at: Thu, 27 Jun 2013 10:39:36 GMT
- request:
    method: get
    uri: http://data.carbonculture.net/number10/10-downing-street/elec?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! "{\n    \"status\": \"ok\", \n    \"fields\": [\n        \"number10.10-downing-street.elec\"\n
        \   ], \n    \"sta[...]
- request:
    method: get
    uri: http://data.carbonculture.net/number10/10-downing-street/elec?points=12
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! "{\n    \"status\": \"ok\", \n    \"fields\": [\n        \"number10.10-downing-street.elec\"\n
        \   ], \n    \"start_time\": \"2013-07-01T16:30:00\", \n    \"results\": [\n
        \       [\n            \"292.71\"\n        ], \n        [\n            \"262.53\"\n
        \       ], \n        [\n            \"246.31\"\n        ], \n        [\n            \"224.61\"\n
        \       ], \n        [\n            \"220.64\"\n        ], \n        [\n            \"216.71\"\n
        \       ], \n        [\n            \"270.12\"\n        ], \n        [\n            \"360.08\"\n
        \       ], \n        [\n            \"370.28\"\n        ], \n        [\n            \"363.11\"\n
        \       ], \n        [\n            \"364.57\"\n        ], \n        [\n            \"373.66\"\n
        \       ]\n    ], \n    \"points\": 12, \n    \"end_time\": \"2013-07-02T16:30:00\"\n}"
  recorded_at: Tue, 02 Jul 2013 16:56:11 GMT
- request:
    method: get
    uri: http://data.carbonculture.net/number10/10-downing-street/fake?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - text/plain
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! 'Not Found: Unknown channels: number10.10-downing-street.fake'
  recorded_at: Tue, 02 Jul 2013 16:56:11 GMT
recorded_with: VCR 2.5.0
