---
http_interactions:
- request:
    method: get
    uri: http://data.carbonculture.net/number10
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! "{\n    \"status\": \"ok\", \n    \"organisation\": \"number10\",
        \n    \"places\": [\n        \"10-downing-street\"\n    ], \n    \"title\":
        \"Number 10\"\n}"
  recorded_at: Thu, 20 Jun 2013 12:03:03 GMT
- request:
    method: get
    uri: http://data.carbonculture.net/unknown
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! 'Unknown organisation: unknown'
  recorded_at: Thu, 20 Jun 2013 13:13:24 GMT
recorded_with: VCR 2.5.0
