---
http_interactions:
- request:
    method: get
    uri: http://data.carbonculture.net/number10/10-downing-street
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! "{\n    \"status\": \"ok\", \n    \"operational_rating\": [\n        {\n
        \           \"end_date\": \"2011-06-27\", \n            \"start_date\": \"2010-06-28\",
        \n            \"value\": 87\n        }, \n        {\n            \"end_date\":
        \"2012-06-27\", \n            \"start_date\": \"2011-06-28\", \n            \"value\":
        83\n        }, \n        {\n            \"end_date\": \"2013-06-27\", \n            \"start_date\":
        \"2012-06-28\", \n            \"value\": 82\n        }\n    ], \n    \"title\":
        \"10 Downing Street\", \n    \"link_url\": \"http://www.carbonculture.net/orgs/number10/10-downing-street/\",
        \n    \"namespace\": \"number10.10-downing-street\", \n    \"channels\": [\n
        \       \"heat\", \n        \"elec\", \n        \"gas\"\n    ], \n    \"place\":
        \"10-downing-street\", \n    \"image_url\": \"http://www.carbonculture.net/uploads/places/images/no10external_carbonculture_260.png\",
        \n    \"building_stats\": {}\n}"
  recorded_at: Thu, 20 Jun 2013 16:15:15 GMT
- request:
    method: get
    uri: http://data.carbonculture.net/unknown/somewhere
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! "{\n    \"status\": \"fail\"\n}"
  recorded_at: Thu, 20 Jun 2013 16:15:15 GMT
- request:
    method: get
    uri: http://data.carbonculture.net/number10
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! "{\n    \"status\": \"ok\", \n    \"organisation\": \"number10\",
        \n    \"places\": [\n        \"10-downing-street\"\n    ], \n    \"title\":
        \"Number 10\"\n}"
  recorded_at: Thu, 27 Jun 2013 09:59:13 GMT
- request:
    method: get
    uri: http://data.carbonculture.net/number10/10-downing-street/heat
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! "{\n    \"status\": \"ok\", \n    \"fields\": [\n        \"number10.10-downing-street.heat\"\n
        \   ], \n    \"start_time\": \"2013-06-26T10:00:00\", \n    \"results\": [\n
        \       [\n            null\n        ], \n        [\n            null\n        ],
        \n        [\n            null\n        ], \n        [\n            null\n
        \       ], \n        [\n            null\n        ], \n        [\n            null\n
        \       ], \n        [\n            null\n        ], \n        [\n            null\n
        \       ], \n        [\n            null\n        ], \n        [\n            null\n
        \       ], \n        [\n            [...]
- request:
    method: get
    uri: http://data.carbonculture.net/number10/10-downing-street/elec
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! "{\n    \"status\": \"ok\", \n    \"fields\": [\n        \"number10.10-downing-street.elec\"\n
        \   ], \n    \"star[...]
- request:
    method: get
    uri: http://data.carbonculture.net/number10/10-downing-street/gas
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: US-ASCII
      string: ! "{\n    \"status\": \"ok\", \n    \"fields\": [\n        \"number10.10-downing-street.gas\"\n
        \   ], \n    \"start_[...]
