---
http_interactions:
- request:
    method: get
    uri: http://data.carbonculture.net/number10/10-downing-street/elec
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - v1
    body:
      encoding: UTF-8
      string: "{\n    \"status\": \"ok\", \n    \"fields\": [\n        \"number10.10-downing-street.elec\"\n
        \   ], \n    \"start_time\": \"2013-06-24T21:30:00\", \n    \"results\": [\n
        \       [\n            \"57.55\"\n        ], \n        [\n            \"56.66\"\n
        \       ], \n        [\n            \"54.36\"\n        ], \n        [\n            \"53.69\"\n
        \       ], \n        [\n            \"51.84\"\n        ], \n        [\n            \"51.74\"\n
        \       ], \n        [\n            \"51.40\"\n        ], \n        [\n            \"52.08\"\n
        \       ], \n        [\n            \"51.77\"\n        ], \n        [\n            \"52.[...]
- request:
    method: get
    uri: http://data.carbonculture.net/number10/10-downing-street/fake
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - text/plain
      Api-Version:
      - v1
    body:
      encoding: UTF-8
      string: 'Not Found: Unknown channels: number10.10-downing-street.fake'
  recorded_at: Tue, 25 Jun 2013 21:49:33 GMT
recorded_with: VCR 2.5.0
